{% extends 'mailings/base.html' %}

{% block title %}
  Рассылки
{% endblock %}

{% block page_title %}
  <div class="row p-1">
    <div class="col-6 ms-5">

      <div class="container-fluid" style="height: 4rem;"></div>

      <h1>УПРАВЛЯЙТЕ</h1>
      <h1>РАССЫЛКАМИ КЛИЕНТАМ</h1>
    </div>
    
    <div class="row">
      <div class="col-9 text-end">
        <h1 class="me-4">СО СКОРОСТЬЮ МАРСИАНСКОГО</h1>
        <h1 class="me-4">ЭКСПРЕССА</h1>
      </div>
    </div>

    <div class="container-fluid" style="height: 14rem;"></div>
  </div>
{% endblock %}


{% block content %}
  <h3 class="p-3">Управление рассылками:</h3>
  <div class="row ms-3 me-2">
          
          <div class="col-2">
            <p>Управлени</p>
          </div>

          <div class="col-2">
            <p>Статус</p>
          </div>

          <div class="col-3">
            <p>Рассылка</p>
          </div>
          
          <div class="col-3">
            <p>Дата и время попытки</p>
          </div>

          <div class="col-2">
            <p>Удаление</p>
          </div>
        
        </div>
    
  <div class="container mb-3">
    {% for attemptsend in attemptsends %}

      <div class="container mb-3 bg-post-newsletter rounded-3">
        <div class="row mt-2">
          
          <div class="col-2 p-3">
            {% if attemptsend.status == 'Start' %}
              <a href="{% url 'mailings:update_attempt' attemptsend.pk %}" class="btn btn-info">Начато</a>
            {% elif attemptsend.status == 'Not_start' %}
              <a href="{% url 'mailings:update_attempt' attemptsend.pk %}" class="btn btn-success">Запустить</a>
            {% elif attemptsend.status == 'Not_successful' %}
              <a href="{% url 'mailings:update_attempt' attemptsend.pk %}" class="btn btn-warning">Редактировать</a>
            {% else %}
              <a href="{% url 'mailings:update_attempt' attemptsend.pk %}" class="btn btn-dark">Завершено</a>
            {% endif %}
          </div>

          <div class="col-2 p-3">
            {{ attemptsend.status }}
          </div>

          <div class="col-3 p-3">
            {{ attemptsend.news_letter.message }}
          </div>

          <div class="col-3 p-3">
            {{ attemptsend.time_attempt }}
          </div>
          
          <div class="col-2 p-3">
            <a href="{% url 'mailings:update_attempt' attemptsend.pk %}" class="btn btn-outline-warning">УДАЛИТЬ</a>
          </div>
        
        </div>
      </div>
      
    {% endfor %}
  </div>

  <div class="container-fluid" style="height: 3rem;"></div>

{% endblock %}


{% block bottom %}
  <div class="container">
    
  </div>
{% endblock %}
