<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Авторизация{% endblock %}</title>
    <link href="\static\css\bootstrap.css" rel="stylesheet">
    <script defer src="\static\js\bootstrap.bundle.js"></script>
    <script defer src="\static\js\time.js"></script>
  <body>

    <div class="container-fluid-mailing text-start">
      <div class="container-md-page_title text-start">

        <div class="container-fluid" style="height: 1rem;"></div>

        
        <div class="container">
          <div class="hstack gap-3">
            <div class="d-flex p-2">
              <p>TIME: </p>
              <p class="ms-2" id="clock"></p>
            </div>
            <div class="p-2 ms-auto bg-auth rounded-5">
              <img src="/media/{{ user.photo }}" width="30" height="30" class="d-inline-block mt-1">
            </div>
            <div class="p-2 bg-auth rounded-5">
              <h6 class="ms-2 me-2 mt-1">{{ user.username }}</h6>
            </div>
          </div>
        </div>

        <div class="row p-1">
          <div class="col-6 ms-5">

            <h1>УПРАВЛЯЙТЕ</h1>
            <h1>РАССЫЛКАМИ КЛИЕНТАМ</h1>
          </div>
          
          <div class="row">
            <div class="col-9 text-end">
              <h1 class="me-4">СО СКОРОСТЬЮ МАРСИАНСКОГО</h1>
              <h1 class="me-4">ЭКСПРЕССА</h1>
            </div>
          </div>

        </div>
        <div class="container-fluid text-start" style="height: 20rem;"></div>

      </div>

      <div class="container-md-content text-white p-3">
        <div class="container-md-M text-start">

          <nav class="navbar navbar-expand-lg bg-body-tertiary rounded-3">
            <div class="container-fluid">
              
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active me-3 text-white" aria-current="page" href="{% url 'mailings:main' %}">Главная</a>
                  </li>
                  
                  <li class="nav-item">
                    <a class="nav-link me-3 text-white" href="{% url 'mailings:create_attempt' %}">Запуск рассылки</a>
                  </li>
                  
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Создать
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'mailings:create_message' %}">Сообщение рассылки</a></li>
                      <li><a class="dropdown-item" href="{% url 'mailings:create_newsletter' %}">Рассылку</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="{% url 'users:create' %}">Получателя рассылки</a></li>
                    </ul>
                  </li>
                  
                  <li class="nav-item">
                    <a class="nav-link me-3 text-white" href="{% url 'mailings:list_message' %}">Сообщеия</a>
                  </li>
                </ul>
                
                <a href="{% url 'mailings:attemptsend_list' %}" class="btn btn-success">Просмотреть запущеные рассылки</a>

              </div>
            
            </div>
          </nav>

          {% block content %}{% endblock %}

        </div>
      </div> 
    
    <div class="container-fluid-base text-start">
      <div class="fixed-bottom">
        <div class="bg-bottom">
          {% block bottom %}{% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>