{% extends 'users/base.html' %}

{% block title %}
  Авторизация
{% endblock %}

{% block content %}
  <div class="container-fluid-base text-start">

    <div class="container-md text-start text-title p-3">

      <div class="container-fluid text-start" style="height: 3rem;"></div>

      <div class="container-fluid text-gray-right p-4">
        <h1>Регистрация пользователей</h1>
      </div>

      <form method="post" class="mb-5" enctype="multipart/form-data">
          
        {% csrf_token %}
        {{ form.as_p }}
          
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="submit" class="btn btn-warning btn-lg mt-3 mb-5 me-5">Создать аккаунт</button>
        </div>
          
      </form>

      <div class="container-fluid text-start" style="height: 6rem;"></div>

    </div>
  </div> 
{% endblock %}


{% block bottom %}
  <div class="container text-center p-1">
    
    <div class="row p-1 me-2">
      {% if user.is_authenticated %}
        
      <div class="col">
          <form method="post" action="{% url 'users:logout' %}" style="display: inline;">
            {% csrf_token %}
            <div class="flex-grow-0 ms-2 mt-1">
              <button type="submit" class="btn btn-success rounded-2">Выйти</button>
            </div>
          </form>
        </div>
        
        {% if user.is_superuser %}
          <div class="col">
            <a href="{% url 'users:list' %}" class="btn btn-success rounded-2 me-4">Все юзеры</a>
          </div>
        {% endif %}

      {% else %}
        
        <div class="col">
          <a href="{% url 'users:login' %}" class="btn btn-success rounded-2 ms-2">Войти</a>
        </div>
        
        <div class="col">
          <a href="{% url 'users:create' %}" class="btn btn-success rounded-2 ms-1">Обновить</a>
        </div>
      {% endif %}
    </div>

  </div>
{% endblock %}
